# Sample CI/CD pipeline for a BankingApplication

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - echo "Building the application..."
    - # Add build steps here
  artifacts:
    paths:
      - build/

test:
  stage: test
  script:
    - echo "Running tests..."
    - # Add test steps here

.deploy:
  stage: deploy
  script:
    - echo "Deploying to Heroku"
    - # Add deployment steps here
    - git remote add heroku https://git.heroku.com/$HEROKU_APP_NAME.git
    - git push heroku main
env:
  global:
    - HEROKU_APP_NAME: <your-heroku-app-name>